@font-face {
  font-family: "PermanentMarker";
  src: url("../_assets/fonts/permanent_marker/PermanentMarker-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Biryani";
  src: url("../_assets/fonts/biryani/Biryani-ExtraLight.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* --------------------------------------------- */

.loginPageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background-color: var(--login-bg);
}

/* --------------------------------------------- */

.sloganContainer {
  text-align: center;
  transform: rotate(350deg);
  color: var(--big-title);
  text-shadow: 0px 3px 5px black;
  font-family: "PermanentMarker";
  font-size: 9rem;
}

/* --------------------------------------------- */

.loginFormContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 10% 200px 5%;
}

.title {
  color: var(--big-title);
  font-family: "Biryani";
  font-size: 5rem;
  margin-bottom: 50px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 100%;
  height: auto;
  aspect-ratio: 100/10;
  text-align: center;
  border-style: none;
  border-radius: 10px;
  background-color: var(--login-input);
  color: var(--login-input-text);
}
.input::placeholder {
  color: var(--login-input-text);
  opacity: 0.6;
}
.input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.input:focus::placeholder {
  color: transparent;
}

.submitButton {
  cursor: pointer;
  width: 100%;
  height: auto;
  aspect-ratio: 100/10;
  margin-top: 20px;
  text-align: center;
  border-style: none;
  border-radius: 10px;
  background-color: var(--submit-button);
  color: var(--button-text);
}

.error {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
  color: var(--status-disconnected);
}