.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 0.9rem;
}

button {
  padding: 10px;
  border: none;
  background-color: #4e8fa4;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #3a6e7e;
}
