.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 5rem;
  background-color: #f2f9fd;
}

.left {
  flex: 1;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-family: "Helvetica Neue", sans-serif;
  color: #b03052;
  font-size: 3rem;
  font-weight: 400;
}
