@font-face {
  font-family: "Roboto";
  src: url("./_assets/fonts/roboto/Roboto-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --big-title: #CE2952;
  --login-bg: #F0FAFF;
  --main-bg: #FFFFFF;
  --card: #F0FAFF;

  --login-input: #FFFFFF;
  --input: #FFFFFF;

  --submit-button: #3D90A7;
  --cancel-button: #C7C7C7;
  --delete-button: #A73D3F;

  --nav-text: #3D90A7;
  --main-text: #3D90A7;
  --header-text: #73BBE3;
  --button-text: #FFFFFF;
  --login-input-text: #3D90A7;
  --input-text: #3D90A7;
  

  --ig: #BD00E7;
  --tt: #00B096;

  --status-connected: #A4FFA5;
  --status-disconnected: #FFA4A4;

  --bubble-order: #A4FFA5;
  --bubble-failed: #FFA4A4;
  --bubble-highlight: #FFF7A4;
  
  --slider-active: #A4FFA5;
  --slider-inactive: #C7C7C7;
  --slider-active-second: #3D90A7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button, input, div {
  font: inherit;
  font-weight: inherit;
}

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: clamp(14px, 1vw, 20px);
}

#root {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  
  /* width: 100vw;
  height: 100vh; */
  /* aspect-ratio: 16/9; */
  
  width: 100%;
  min-width: 1200px;
  height: auto;
  /* aspect-ratio: 16/9; */
}

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  min-height: 100vh;
} */

/*

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
